# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs & Editor configs
.vscode/
.idea/
*.swp
*.swo

# Temporary logs & cache
*.log
.system_generated/
